.pop-up-box-for-card-03 {
    width: 350px;
    height: 370px;
    border-radius: 30px;
    background: #E0E0E0;
    border: 3px solid rgba(39, 60, 115, 0.88);
    box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 4;
    top: -60%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.display-card-03 {
    position:fixed;
    top: calc(50% - 25px);
    visibility: visible;
}

.display-card-04 {
    position:fixed;
    top: calc(50% - 25px);
    visibility: visible;
}

.display-card-08 {
    position:fixed;
    top: calc(50% - 25px);
    visibility: visible;
}

.blur-background {
    filter: blur(5px);
}

body.no-scroll {
    overflow: hidden;
}

.as-03-cases {
    width: 330px;
    height: 40px;
    color: #E0E0E0;
    cursor: pointer;
    display: grid;
    align-items: center;
    text-align: center;
    border: 2px solid #f0932b;
    background-color: #192A56;
    border-radius: 20px;
}

.pop-up-box-for-card-03-content {
    width: 338px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
}
